<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	

	<div class="py-4 ml-5 mr-5">
		<div class="card bg-light">
			<form name="form1" id="form1" th:action="@{/saveordent}"
				th:object="${ordentrabajo}" method="POST" >
				<div class="card-body">
								
					<div  class="card-header text-center">
						<h3>ORDEN DE TRABAJO</h3>
					</div>
										  
					<table class="table">
						<tbody>
							<tr>
								<td>
								
								<input type="radio" id="preventivo" name="tipo" value="Preventivo" th:field="*{tipoorden}" required checked="checked">
								<label for="preventivo">Preventivo |</label>
								
								<input type="radio" id="correctivo" name="tipo" value="Correctivo" th:field="*{tipoorden}"  >
								<label for="correctivo">Correctivo </label>
							</tr>
						</tbody>
					</table>																											
					<div class="card-body" align="center">																				
						<label>CORRELATIVO</label> <input th:field="*{idordentrab}" type="text"
								class="form-control form-control-sm col-md-6" readonly />					
						<br>
						
						
						<table class="table table-bordered" >
						<tr>
  							<th>AREAS</th>
  							<th></th>
  							<th>MAQUINAS</th>
  							<th></th>
 							<th>SUBMAQUINAS</th>
						</tr>
						<tr>
  							<td>
  							<div class="form-group">						
				<table class="table">				
					<tbody>
						<tr>
							<td>
							 <select name="area" id="area"
								title="Seleccione un area" class="form-control form-control-sm" required>
								<option value="" disabled="disabled" selected>----Areas----</option>
								<option th:each="area:${areas}" th:value="${area.id}"
									th:text="${area.areanombre}" />
							</select>
							 </td>							 
						</tr>
					</tbody>
				</table>
				</div>
  							</td>
  							<td>
  							</td>
  							
  							<td>
							<div class="form-group">							
				<table class="table">				
					<tbody>
						<tr>
							<td>
							<select name="maquina" id="maquina"
								title="Seleccione una maquina" class="form-control form-control-sm" required>
								<option value="" disabled="disabled" selected="selected">------Maquinas----</option>
								<option th:each="maquina:${maquinas}"
									th:value="${maquina.id}" th:text="${maquina.maquinanombre}"
									 />
							</select>	
							 </td>
						</tr>
					</tbody>
				</table>
				</div>
							</td>
  							
  							<td>
  							</td>
  							<td>
								<div class="form-group">							
				<table class="table">				
					<tbody>
						<tr>
							<td>
							<select name="submaquina" id="submaquina"
								class="form-control form-control-sm" required>
								<option value="" disabled="disabled" selected="selected">-------Submaquinas-------</option>
								<option th:each="submaquina:${submaquinas}"
									th:value="${submaquina.id}"
									th:text="${submaquina.nombres}" />
							</select>
							 </td>
						</tr>
					</tbody>
				</table>
				</div>
							</td>
  							
						</tr>
						
						</table>
						<br>
						<div class="form-group">
							<label for="tecnico">TECNICOS</label>
				<table class="table">				
					<tbody>
						<tr>
							<td>
							<select
								th:field="*{tecnico}"
								class="form-control form-control-sm col-md-6" id="tecnico">
								<option th:each="tecnico:${tecnicos}"
									th:value="${tecnico.idtecn}" th:text="${tecnico.nombre}" />
							</select>
							 </td>
						</tr>
					</tbody>
				</table>
				</div>		 
						<br>
						<div class="form-group">
							<label for="causa">FALLAS</label>
				<table class="table">				
					<tbody>
						<tr>
							<td>
							<select th:field="*{causa}"
								class="form-control form-control-sm col-md-6" id="causa">
								<option th:each="causa:${causas}" 
								th:value="${causa.idcausa}"
									th:text="${causa.falla}" />
							</select>
							 </td>
							 <td><a th:href="@{/newcausa}"  class="btn btn-info">Agregar</a></td> 
						</tr>
					</tbody>
				</table>
				</div>
						<br>
						<div class="form-group">
							<label>DESCRIPCION</label> <input th:field="*{descripcion}"
								type="text" class="form-control form-control-sm col-md-6" required autocomplete="off"/>
								</div>
						<br>	
											
							<label for="estadooc">ESTADO ORDEN TRABAJO</label>											
					<table class="table">
						<tbody>
							<tr>						
								<td>
							 <label><input type="radio" id="realizado" name="estadoot"  value="Realizado" th:field="*{estadoot}" required> Realizado   |</label>	
							 <label><input type="radio" id="pndt" name="estadoot"  value="Pendiente" th:field="*{estadoot}"> Pendiente   |</label>
							 <label><input type="radio" id="pxrepuesto" name="estadoot"  value="PXRepuesto" th:field="*{estadoot}"> PXRepuesto   |</label>
							  <label><input type="radio" id="programada" name="estadoot"  value="Programada" th:field="*{estadoot}"> Programada</label>
								</td>
							</tr>														
						</tbody>						
					</table>
					
					
					
							<br>
							<label for="estadooc">ESTADO ORDEN COMPRA</label>							
							<table class="table" >
						<tbody>
							<tr>
								<td>
								 <label for="no"><input type="radio" id="no" name="estadooc"  value="NO ORDEN" th:field="*{estadooc}" required> NO ORDEN   |</label> 
								 <label for="pendiente"><input type="radio" id="pendiente" name="estadooc"  value="Pendiente" th:field="*{estadooc}"> Pendiente  |</label>
								 <label for="emitida"><input type="radio" id="emitida" name="estadooc"  value="Emitida" th:field="*{estadooc}"> Emitida |</label>
								 <label for="recibida"><input type="radio" id="recibida" name="estadooc"  value="Recibida" th:field="*{estadooc}"> Recibida |</label>
								 <label for="cancelada"><input type="radio" id="cancelada" name="estadooc"  value="Cancelada" th:field="*{estadooc}"> Cancelada</label>								 
								</td>
							</tr>
						</tbody>
					</table>													
						<br>						
							<label>HORAS DE TRABAJO</label> <input th:field="*{horastrab}"
								type="number" step="0.1" class="form-control form-control-sm col-md-6" required autocomplete="off"/>
						<br>
						<div class="form-group">
							<label for="tipotrabajo">TIPO DE TRABAJO</label>
				<table class="table">				
					<tbody>
						<tr>
							<td>
							 <select
								th:field="*{tipotrabajo}"
								class="form-control form-control-sm col-md-6" id="tipotrabajo">
								<option th:each="tipotrabajo:${tipostrabajo}"
									th:value="${tipotrabajo.idtiptrab}"
									th:text="${tipotrabajo.tipotrab}" />
							</select>
							 </td>
							 <td><a th:href="@{/newtipotrabajo}"  class="btn btn-info">Agregar</a></td> 
						</tr>
					</tbody>
				</table>
				</div>
							<br>						
							<label class="col-md-3">FECHA A REALIZAR</label> <input
								th:field="*{fecharealizada}" type="date"
								class="form-control form-control-sm col-md-6" required />
						
							<br>
							<div class="form-group" id="inter">
							<label class="col-md-3" id="tiempolabel">INTERVALOS</label>
							 <select th:field="*{tiempos}" class="form-control form-control-sm col-md-6" id="tiempos">
								
								<option th:value="NO-CHECK" th:text="NO-CHECK" />
								<option th:value="SEMANAL" th:text="SEMANAL" />
								<option th:value="QUINCENAL" th:text="QUINCENAL" />
								<option th:value="MENSUAL" th:text="MENSUAL" />
								<option th:value="BI-MENSUAL" th:text="BI-MENSUAL" />
								<option th:value="TRIMESTRAL" th:text="TRIMESTRAL" />
								<option th:value="SEMESTRAL" th:text="SEMESTRAL" />
								<option th:value="ANUAL" th:text="ANUAL" />
								<option th:value="BI-ANUAL" th:text="BI-ANUAL" />

							</select>
						</div>
					</div>
					<div class="container text-center">
  <div class="row">
    <div class="col-md-4"><input type="image" value="Guardar"  src="img/guardar.png" height="50" width="50" /></div>
    <div class="col-md-4 offset-md-4"><a type="button" href="javascript:history.back()" ><img src="img/cancelar.png" height ="50" width="50" /></a></div>
  </div></div>
				</div>				

			</form>

		</div>
	</div>	
</body>
<link href="../css/bootstrap.css" rel="stylesheet" />
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="static/basicoajax.js"></script>
<script src="static/funciones.js"></script>


<!-- FUNCION PARA ESCOGER  EL TIPO DE ORDEN Y OCULTAR LOS INTERVALOS-->
<script>
	$(function() {
		$('#preventivo').click(function() {
			$('#tiempos, #inter').show();
		});
		$('#correctivo').click(function() {
			$('#tiempos, #inter').hide();
		});
	})
</script>

<script th:inline="javascript">
	/* Variable Javascript que guarda el contextPath para formar la URL a la cual haremos la peticion*/
	var contextPath = /*[[@{http://localhost:8080/buscarPorArea}]]*/
	 contextPath2 = /*[[@{http://localhost:8080/buscarPorMaquina}]]*/
	
	/* ------- BUSCAR MAQUINAS SEGUN AREA SELECCIONADA -------- */

	$('#area').change(
			function() {
				$.getJSON(contextPath,
								{
									idArea : $(this).val(),
									ajax : 'true'
								},
								function(data) {
									var html = '<option value="">--Seleccione Maquina--</option>';
									var len = data.length;
									for (var i = 0; i < len; i++) {
										html += '<option value="' + data[i].id + '">'
												+ data[i].maquinanombre
												+ '</option>';
									}
									html += '</option>';
									$('#maquina').html(html);
								});
			});
			
			
			/* --------- BUSCAR SUBMAQUINAS SEGUN LA MAQUINA SELECCIONADA --------- */
			$('#maquina').change(
			function() {				
				$.getJSON(contextPath2,
								{
									idMaquina : $(this).val(),
									ajax : 'true'
								},
								function(data) {
									var html = '<option value="">--Seleccione Submaquina--</option>';
									var len = data.length;
									for (var i = 0; i < len; i++) {
										html += '<option value="' + data[i].id + '">'
												+ data[i].nombres
												+ '</option>';
									}
									html += '</option>';
									$('#submaquina').html(html);
								});
			});
	</script>


</html>