<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/savetecn}" th:object="${tecnico}" method="POST">
				<div class="card">
					<div style="background-color:rgb(210, 197, 100)" class="card-header text-center">
						<h3>Tecnico</h3>
					</div>
					
					<div class="card-body">
						<div class="form-group">
							<label>ID</label>
							 <input th:field="*{idtecn}" type="text" class="form-control" readonly/>
						<br>
							<label>NOMBRE</label> 
							<input th:field="*{nombre}" type="text" class="form-control" required autocomplete="off"/>
						<br>
							<label>CODIGO</label> 
							<input th:field="*{codigotrab}" type="text" class="form-control" required autocomplete="off"/>
						<br>
						<label for="tipotrabajo">TIPOS DE TRABAJO</label> 
						<table class="table">				
					<tbody>
						<tr>
							<td>
							<select th:field="*{tipotrabajo}" class="form-control form-control-sm col-md-6" id="tipotrabajo">
								<option th:each="tipotrabajo:${tipostrabajo}"
									th:value="${tipotrabajo.idtiptrab}"
									th:text="${tipotrabajo.tipotrab}"/>
							</select>
							 </td>
							 <td><a th:href="@{/newtipotrabajo}" type="submit" class="btn btn-info">Agregar</a> </td>
						</tr>
					</tbody>
				</table>
						</div>
						<div class="container text-center">
  <div class="row">
    <div class="col-md-4"><input type="image" value="Guardar"  src="img/guardar.png" height="50" width="50" /></div>
    <div class="col-md-4 offset-md-4"><a type="button" href="javascript:history.back()" ><img src="img/cancelar.png" height ="50" width="50" /></a></div>
  </div></div>
					</div>										
				</div>
			</form>

		</div>
	</div>

</body>
</html>