<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="py-4 ml-5 mr-5">
		
		<div class="card bg-light">
			
			<div class="card-body">
			<div class="container text-center">
  <div class="row">
    <div class="col">
     <h2> FALLOS Y SOLUCIONES</h2>
    </div>
    
    
    <div >
    <h6 id="HoraActual"> </h6>
    
    </div>

  </div>
</div>
			<table class="table">
				<thead>
					<tr>
						<th>
							<h5>Buscar registro por: </h5>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="radio" id="falla" name="findBy" value="Falla" checked>
							<label for="falla">Falla |</label>
							<input type="radio" id="solucion" name="findBy" value="Solucion">
							<label for="solucion">Solucion</label>
							
							<br>
							<input type="search" name="buscar" class="form-control" placeholder="Valor a buscar" autocomplete="off"><br>
							<a th:onclick="buscar()" ><img src="img/buscar.png" height ="40" width="40" /></a>
							<a th:href="@{/listarCausa}" type="submit" ><img src="img/restablecer.png" height ="40" width="40" /></a>
							<a th:href="@{/newcausa}" type="submit" ><img src="img/agregar.png" height ="40" width="40" /></a>
						</td>
					</tr>
				</tbody>
			</table>
				<table class=" table table-bordered table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Id</th>
							<th>Falla</th>
							<th>Solucion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="causa:${causas}">
							<td th:text=${causa.idcausa}></td>
							<td th:text=${causa.falla}></td>
							<td th:text=${causa.solucion}></td>

							<th><a th:href="@{/editarcausa/}+${causa.idcausa}" ><img src="img/editar.png" height ="30" width="30" /></a> <a
								th:onclick="eliminar([[${causa.idcausa}]],'Causa',[[${causa.falla}]])" ><img src="img/eliminar.png" height ="30" width="30" /></a></th>
						<tr>
					</tbody>
				</table>
				
				

			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>


	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
	<script type="text/javascript">
	function limpiarCampos(){
		window.location='/listarCausa';
	}</script>
</body>
</html>