<!DOCTYPE html>
<html xmlns:th="http:www.thymefeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>ESTADOOT</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.1.js"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.1.js"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>






<div class="py-4 ml-5 mr-5">
	<div class="col" align="center">
    	<table class="table">
			<thead>
				<tr>
					<th>
						<a  th:href="@{/listarOrdentrabajo}"><img src="/img/atras.png" height ="50" width="50" /></a>
					</th>
					<th align="right">
						<h2>Cierre de orden de trabajo</h2>
					</th>
				</tr>
			</thead>
		</table>
	</div>	
	
		<div class="card bg-light">			
			<div class="card-body">
				  							
    								<table class="table">
										<tbody>
											<tr>
												<th>
													<h5>Número de orden: </h5>
												</th>
												
												<th>
													<input type="number" id="ordenacerrar" name="ordenacerrar"  
													placeholder="20 000 000" autocomplete="off" required >
													
												</th>
																			
											</tr>
											<tr >
												<th>
													<h5> Nuevo Estado</h5>	
												</th>		
												 						
												<th>	
													<label th:text=${mensaje} ></label>
																							
													<table class="tablenew">
														<tbody lign="center">
															<tr >						
																<td >
																	<select style=width:400px name="newestado" class="form-control form-control-sm col-md-6" id="newestado" >
																		<option th:value="Realizado" th:text="Realizado" />
																		<option th:value="Pendiente" th:text="Pendiente" />
																		<option th:value="PXRepuesto" th:text="PXRepuesto" />
																		<option th:value="Programada" th:text="Programada" />
																	</select>
																</td>
																<td >
																	<a  th:onclick="cambiarestado()"><img src="/img/flecha.png" height ="50" width="50" /></a>
																</td>
															</tr>
																													
														</tbody>						
													</table>		
												</th>		
											</tr>	
																						
										</tbody>
									</table>	
									
   		 </div>			
											
</div> 
	<script src="https://code.jquery.com/jquery-3.6.1.js"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<script src="../funciones.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/estilo.css" th:href="@{/css/estilo.css}">

</body>

</html>