<!DOCTYPE html>
<html xmlns:th="http:www.thymefeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>ORDENES TRABAJO</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.1.js"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.1.js"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="py-4 ml-5 mr-5">
	<div class="card bg-light">			
		<div class="card-body">
			<div class="container text-center">
 				<div class="row">
    				<div class="col">
    					<h2>Orden de trabajo</h2>
    				</div>   	  
    				<div >
    					<h6 id="HoraActual"> </h6>
    				</div>
    			</div>
    		</div>
    										
				<br>
				
				
			<table class="table" >
				<thead>
						<tr>
							<td>
							<h6>Buscar por: </h6>
							<input type="radio" id="idorden" name="findBy" value="Idorden" checked="checked">
							<label for="idorden">Correlativo</label>
										
							<input type="radio" id="maquina" name="findBy" value="Maq"  >
							<label for="maquina">Maquina</label>
							 
							<input type="radio" id="tecn" name="findBy" value="Tecn">
							<label for="tecn">Tecnico</label>
							
							<input type="radio" id="Causa" name="findBy" value="Causa">
							<label for="Causa">Causa</label>
							
							<input type="radio" id="Falla" name="findBy" value="Falla">
							<label for="Falla">Falla</label>
							
							<input type="radio" id="estadoot" name="findBy" value="Estadoot">
							<label for="estadoot">Estadoot</label>
							
							<input type="radio" id="tipoorden" name="findBy" value="Tipoorden">
							<label for="tipoorden">Tipo orden </label>
							<br>
						
							<input type="search" name="buscar" class="form-control" id="palabraClave" placeholder="Valor a buscar" autocomplete="off">
							<br>
						
							
							<a  href="/menu"><img src="/img/menu.png" height ="50" width="50" /></a>
							<a  th:onclick="validar()"><img src="/img/buscar.png" height ="50" width="50" /></a>
							<a  th:href="@{/listarOrdentrabajo}"><img src="/img/restablecer.png" height ="50" width="50" /></a>
							<a  th:href="@{/newot}"><img src="/img/agregar.png" height ="50" width="50" /></a>	
							<a  th:href="@{/BuscarOTEdit}"><img src="/img/editar.png" height ="50" width="50" /></a>
							<a  th:href="@{/iracerrar}"><img src="/img/flecha.png" height ="50" width="50" /></a>
							<a  th:href="@{/irabuscar}"><img src="/img/pdf.png" height ="50" width="50" /></a>
							<a  th:href="@{/reportespendientes}"><img src="/img/pendientes.png" height ="50" width="50" /></a>
							<a  th:href="@{/listarOTProgra}"><img src="/img/programadas.png" height ="50" width="50" /></a>
							
							<label th:text=${mensaje} style="color: red"></label>	
							</td>	
						</tr>
					
				</thead>
			</table>								
			<div class="outer-wrapper" >
   				<div class="table-wrapper">
					   
    			<table class="tableot">
      				 <thead >
						<tr>
							<th>Correlativo</th>
							<th>Area</th>
							<th>Maquina</th>
							<th>Submaquina</th>
							<th>Tecnico</th>
							<th>Causa</th>
							<th >Descripcion</th>
							<th>Falla</th>
							<th>Estado OT</th>
							<th>Tipo trabajo</th>
							<th>Fecha y hora</th>
							<th>Tipo orden</th>
							<th>Orden Compra</th>
							<th >Eliminar</th>
						</tr>
					</thead>
					
					
       <tbody>
						<tr th:each="ordentrabajo:${ordenest}">
							<td th:text=${ordentrabajo.idordentrab}></td>
							<td th:text=${ordentrabajo.maquina.area.areanombre}></td>
							<td th:text=${ordentrabajo.maquina.maquinanombre}></td>
							<td th:text=${ordentrabajo.submaquina.nombres}></td>
							<td th:text=${ordentrabajo.tecnico.nombre}></td>
							<td th:text=${ordentrabajo.causa.descripcioncausa}></td>
							<td >
								 <div class="first">
									<span th:text=${ordentrabajo.descripcion}></span>
								</div>
							</td>
							<td th:text=${ordentrabajo.falla}></td>
							<td th:text=${ordentrabajo.estadoot}></td>
							<td th:text=${ordentrabajo.tecnico.tipotrabajo.tipotrab}></td>
							<td >
								<div class="divfecha">
									<span th:text=${ordentrabajo.fecharegistro}></span>
								</div>
							</td>
							<td th:text=${ordentrabajo.tipoorden}></td>
							<td th:text=${ordentrabajo.ordencompra.idordencomp}></td>									
							<td>
							<a  th:onclick="eliminar([[${ordentrabajo.idordentrab}]],'Ordentrabajo',[[${ordentrabajo.idordentrab}]])"><img src="/img/eliminar.png" height ="40" width="40" /></a>
								
							</td>
						<tr>
					</tbody>
    </table>
</div>
</div>		
</div>
  	</div>
</div>					
			
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.js"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="../funciones.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/estilo.css" th:href="@{/css/estilo.css}">

</body>

</html>